* {
	border: 1px solid orange;
}

.inlineBlock {
	display: inline-block;
}

#image {
	height: 200px;
	width: 300px;
}

#rightBlock {
	text-align: center;
}

#info {
	text-align: left;
}

#sharingIcons {
	float: right;
}