* {
	border: 1px solid orange;
	/*box-sizing: border-box;*/
}

.inlineBlock {
	display: inline-block;
}

#image {
	height: 250px;
	width: 300px;
}

#image img {
	height: 250px;
	width: 300px;
}

#bioContainer {
	vertical-align: top;
}

#rightBlock {
	text-align: center;
	margin-left: 100px;
}

#info {
	text-align: left;
}

#sharingIcons {
	float: right;
}