* {
	border: 1px solid orange;
	/*box-sizing: border-box;*/
}

.inlineBlock {
	display: inline-block;
}

#image {
	height: 250px;
	width: 300px;
}

#image img {
	height: 250px;
	width: 300px;
}

#bioContainer {
	vertical-align: top;
	margin-left: 50px;
}

#rightBlock {
	position: absolute;
	text-align: center;
	margin-left: 100px;
	float: right;
}

#info {
	text-align: left;
}

#infoTable table {
	border-collapse: collapse;
}

#infoTable th {
	background-color: #948F84;
	color: white;
	font-weight: normal;
}

#sharingIcons {
	float: right;
}

#midContainer {
	clear: both;
	margin-top: 30px;
}